// .productcontainer {
// 	display: flex;
// 	width: 100%;
// 	justify-content: space-between;

// 	// .info {
// 	// 	width: 35%;
// 	// }

// 	// .imgContainer {
// 	// 	width: 35%;
// 	// }
// }

.productContainer {
  position: relative;
}

.imgContainer {
  max-width: 200px;
}
.adjustments {
  // position: absolute;
  // right: 0;
  // top: 0;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  align-self: center;

  // .fa-trash-o,
  // .fa-plus-square,
  // .fa-minus-square {
  //   color: #02020265;
  //   // margin: 5px;
  //   // order: 1;
  //   .fa-trash:hover {
  //     cursor: pointer;
  //   }
  // }

  //   .plus,
  //   .minus {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     text-align: center;
  //     border: 1px solid red;
  //   }

  .plusBtn,
  .minusBtn,
  .trashBtn {
    padding: 3px;
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
    color: rgb(0, 0, 0);

    &:hover {
      color: #36525c;
    }
  }
}

// .plusMinusSpan {
//   display: flex;
//   user-select: none;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   font-size: 2rem;
//   border: 5px solid red;
//   height: 44px;
//   padding: 2px;
//   width: auto;
//   font-size: 2rem;
// }
