.productContainer {
  position: relative;
}

.imgContainer {
  max-width: 200px;
}
.adjustments {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  align-self: center;

  .plusBtn,
  .minusBtn,
  .trashBtn {
    padding: 3px;
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
    color: rgb(0, 0, 0);

    &:hover {
      color: #36525c;
    }
  }
}
