/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  /* Modal Content/Box */
  .modal-content {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modcnt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* The Close Button */
  .close {
    color: rgb(110, 110, 110);
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    width: 20px;
  }

  .theFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    border: 1px solid red;
  }

  .prodFrame1,
  .prodFrame2 {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    border-color: 1px solid rgba(158, 157, 157, 0.726);
  }

  .close:hover,
  .close:focus {
    color: rgb(56, 56, 56);
    text-decoration: none;
    cursor: pointer;
  }

  .btnsDiv {
    display: flex;
    flex-direction: row;
    float: right;
  }

  .btHandla,
  .btKassa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bolder;
    background-color: #2595be;
    border: none;
    text-decoration: none;
    padding: 10px;
    width: 160px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .btHandla:focus,
  .btHandla:hover,
  .btKassa:focus,
  .btKassa:hover {
    cursor: pointer;
    background-color: #207ea0;
  }

  #checkoutTag {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}
