#checkout {
  background-color: #f5f5f5;
  @include flexcolcen;

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  h2 {
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    border-bottom: 0.2px solid rgba(169, 169, 169, 0.336);
    border-top: 0.2px solid rgba(169, 169, 169, 0.336);
  }

  #cart {
    background-color: white;

    @include desktop {
      width: 30%;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @include flexcolcen;

    width: 80%;
    box-shadow: $boxShadow;

    .productContainer {
      width: 40%;
      padding: 20px;
      @include flexcolcen;

      border-bottom: 1px solid darkgray;

      @include tablets {
        width: 70%;
        flex-direction: row;
        justify-content: space-evenly;
      }

      @include tablets {
        width: 100%;
      }

      #amount {
        width: 110px;
        display: flex;
        justify-content: space-between;
      }

      #price {
        width: 110px;
        display: flex;
        justify-content: space-between;
      }
      #total {
        span {
          @include tablets {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }
    }

    #imgContainer {
      @include tablets {
        width: 30%;
      }
      #productImg {
        width: 100%;
      }
    }
  }

  #form {
    background-color: white;
    width: 80%;
    box-shadow: $boxShadow;

    @include flexcolcen;

    @include desktop {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 50%;
    }

    form {
      width: 100%;
      padding: 20px;
      @include flexcolcen;

      .form-row {
        width: 90%;

        @include tablets {
          width: 80%;
        }
      }
    }
  }
}
