#checkout {
  background-color: #f5f5f5;
  @include flexcolcen;

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  h2 {
    @include cartHeading;
  }

  #form {
    background-color: white;
    width: 80%;
    box-shadow: $boxShadow;

    @include flexcolcen;

    @include desktop {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 500px;
    }

    form {
      width: 100%;
      padding: 20px;
      @include flexcolcen;

      .form-row {
        width: 90%;

        @include tablets {
          width: 70%;
        }
      }

      .btn {
        background-color: #2595be;
        color: white;
        margin: 5px;

        &:hover {
          background-color: #1e7494fa;
        }
      }
      .back {
        text-decoration: none;
        color: rgb(134, 130, 130);
        text-align: end;
        font-size: smaller;
      }
    }
  }
}

#cart {
  background-color: white;

  @include desktop {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include flexcolcen;

  width: 80%;
  box-shadow: $boxShadow;
}
.productContainer {
  width: 100%;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  @include flexcolcen;

  // border-bottom: 1px solid darkgray;

  @include tablets {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .info {
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .amount {
    width: 110px;
    display: flex;
    justify-content: space-between;
  }

  .price {
    width: 110px;
    display: flex;
    justify-content: space-between;
  }
}

.totalSpans {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.imgContainer {
  @include tablets {
    width: 400px;
  }
  img {
    width: 100%;
  }
}

.headingcart {
  @include cartHeading;
  margin-top: 0;
  font-weight: 400;
}
