.counter-container {
	position: absolute;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	height: 18px;
	width: 18px;
	right: 49px;
	top: 1.7px;
	font-size: 0.81rem;
	font-weight: bolder;
}

// .counter {
// 	position: absolute;
// 	justify-content: center;
// 	align-items: center;
// 	color: white;
// 	background-color: red;
// 	border-radius: 50%;
// 	height: 17px;
// 	width: 17px;
// 	right: 49px;
// 	top: 1.7px;
// 	font-size: 0.7rem;
// }
