@import "_variables.scss";

@mixin tablets {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1060px) {
    @content;
  }
}

@mixin button {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #e6e6e64b;

  &:hover {
    background-color: #ddddddad;
  }
}

@mixin flexcolcen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin cartHeading {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  border-bottom: 0.2px solid rgba(169, 169, 169, 0.336);
  border-top: 0.2px solid rgba(169, 169, 169, 0.336);
}
