* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.productmaincontainer {
  position: relative;
}
.productmodalcontainer {
  //border: 1px solid rgb(37, 37, 238);
  align-self: center;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  // border: 1px solid black;
  z-index: 10;
  box-shadow: 1px 1px 0.5px #2596be;
  background-color: white;
  height: 80%;
  width: 80%;
  overflow: auto; /* Enable scroll if needed */
  border-radius: 5px;
}

// HERO BILD
.productimghero {
  background-image: url(../assets/Dysoncyclonev10_productpage.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  height: 50%;
  border-radius: 5px;

  h1 {
    color: #2596be;
    font-size: 1rem;
    padding: 20px;
    margin-top: 10%;
    font-weight: 900;
  }
}

// OSLAGBAR PRESTANDA SEKTION

.h1nfopage1 {
  margin-top: 10px;
  padding-left: 10px;
  color: #2596be;
}
.discriptioninfopage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  color: rgb(80, 78, 78);
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}

// BILD TILL VÄNSTER OCH TEXT TILL HÖGER
.container {
  display: flex;
  margin: 20px;
}

h1 {
  margin-bottom: 10px;
  color: #2596be;
  font-size: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  //: 1px solid green;
  img {
    width: 100%;
  }
}

.productinforight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(80, 78, 78);
  font-size: 0.8rem;
  letter-spacing: 0.3px;
  padding: 5px;
}

// KNAPPAR LÄNGST NER
.btncontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;

  button {
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .addtocart {
    background-color: #2596be;
    color: white;
  }

  .back {
    background-color: #d1e7ff;
    color: #165b74;
  }

  > button:hover {
    box-shadow: 2px 2px 2px #2595be86;
    border: 1px solid rgba(0, 0, 0, 0.418);
  }
}

//DESKTOP

@media screen and (min-width: 768px) {
  // HERO BILD

  // OSLAGBAR PRESTANDA SEKTION

  // BILD TILL VÄNSTER OCH TEXT TILL HÖGER
}
