#showmodal {
  display: none;
}

#productmaincontainer {
  display: flex;
  justify-content: center;
  width: 100%;

  #productcontentcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 90%;
  }

  #categoryheader {
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-align: center;
  }

  #choosecategorybtn {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
      width: 33%;
      text-decoration: none;
    }

    a > #btncategoryone,
    #btncategorytwo,
    #btncategorythree {
      padding: 20px;
      height: 100px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      gap: 5px;
      width: 100%;
    }

    #btncategoryone,
    #btncategorytwo,
    #btncategorythree {
      padding: 20px;
      height: 100px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
    }
  }

  #wireless,
  #powerfull,
  #robot {
    text-align: center;
    margin-top: 200px;
    width: 100vw;
    padding: 10px;
    width: 80%;
    background-color: #2595be;
    border-radius: 2px;
    color: white;
  }

  #wirelesscontainer,
  #powerfullcontainer,
  #robotcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  // PRODUKTER

  .productcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
  }

  .imgcontainer {
    border: 1px solid green;
    display: flex;
    justify-content: center;

    > img {
      display: flex;
      justify-content: center;
    }
  }
  .vacuumheader {
    font-size: 1rem;
    align-self: baseline;
  }
  .vacuuminfo {
    display: flex;
  }

  .productbtns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 2px;

    > button {
      padding: 20px;
      width: 100%;
      border-radius: 2px;
      cursor: pointer;
      font-size: 1rem;
    }

    > button:nth-child(2) {
      background-color: #2596be;
      border: none;
      color: white;
    }
    > button:nth-child(1) {
      background-color: #2595be86;
      border: none;
    }

    .fa-info-circle,
    .fa-cart-plus {
      font-size: 1.2rem;
      margin-left: 10px;
    }
  }
}
/* The Modal (background) */
