* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.productmaincontainer {
  position: relative;
}

.overlay {
  align-self: center;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  z-index: 5;
  width: 100%;
  height: 1000px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  //overflow: auto; /* Enable scroll if needed */
}
.productmodalcontainer {
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  height: 70%;
  width: 80%;
  overflow: auto; /* Enable scroll if needed */
  border-radius: 5px;
  margin-bottom: 20px;
}

// HERO BILD
.productimghero {
  background-image: url(../assets/Dysoncyclonev10_productpage.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  height: 50%;
  border-radius: 5px, 0px;

  h1 {
    color: #2596be;
    font-size: 1rem;
    padding: 20px;
    margin-top: 10%;
    font-weight: 900;
  }
}

// OSLAGBAR PRESTANDA SEKTION

.h1nfopage1 {
  margin-top: 10px;
  padding: 20px;
  color: #2596be;
}
.discriptioninfopage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: rgb(80, 78, 78);
  font-size: 1rem;
  letter-spacing: 0.3px;
}

// BILD TILL VÄNSTER OCH TEXT TILL HÖGER
.container {
  display: flex;

  h1 {
    margin-bottom: 10px;
    color: #2596be;
    font-size: 1rem;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    width: 100%;
    padding: 10px;
  }
}

.productinforight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(80, 78, 78);
  font-size: 1rem;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 60%;

  .price {
    padding: 0;
    margin: 0;
  }
}

// KNAPPAR LÄNGST NER
.btncontainer {
  display: flex;
  justify-content: center;
  gap: 5px;

  button {
    border: none;
    padding: 20px;
    border-radius: 0px, 5px;
    width: 100%;
    cursor: pointer;
  }

  .addtocart {
    background-color: #2596be;
    color: white;
  }

  .back {
    background-color: #d1e7ff;
    color: #165b74;
  }

  > button:hover {
    box-shadow: 2px 2px 2px #2595be86;
  }
}

//DESKTOP

@media screen and (min-width: 768px) {
  // HERO BILD
  .productimghero {
    h1 {
      color: #2596be;
      font-size: 2rem;
      padding: 20px;
      margin-top: 10%;
      font-weight: 900 !important;
    }
  }

  // OSLAGBAR PRESTANDA SEKTION

  .h1nfopage1 {
    margin-top: 10px;
    padding-left: 100px;
    color: #2596be;
  }
  .discriptioninfopage1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    color: rgb(80, 78, 78);
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    width: 60%;
  }

  // BILD TILL VÄNSTER OCH TEXT TILL HÖGER

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    img {
      width: 100%;
    }
  }

  .productimgleft {
    width: 250px;
  }

  .productinforight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(80, 78, 78);
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    width: 50%;
  }
}
