#showmodal {
	display: none;
}

#productmaincontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	background-color: #f5f5f5;

	#productcontentcontainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 40px;

		// border: 1px solid red;
	}

	#categoryheader {
		letter-spacing: 1px;
		font-size: 1.1rem;
		text-align: center;
	}

	#choosecategorybtn {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 1rem;
		gap: 10px;

		a {
			width: 33%;
			text-decoration: none;
		}

		a > #btncategoryone,
		#btncategorytwo,
		#btncategorythree {
			padding: 20px;
			height: 100px;
			width: 100%;
			border: none;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			gap: 10px;
		}

		#btncategoryone,
		#btncategorytwo,
		#btncategorythree {
			padding: 20px;
			height: 100px;
			cursor: pointer;
			border: none;
			border-radius: 5px;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 10px;
			//background-color: #2595be1a;
		}
	}

	//   :hover {
	//     box-shadow: 1px 1px 1px #2595be86;
	//   }
}

#wireless,
#powerfull,
#robot {
	text-align: center;
	margin: 100px 0px 50px 0px;
	width: 100vw;
	padding: 10px;
	width: 100%;
	background-color: #2595be;
	border-radius: 2px;
	color: white;
	font-size: 1rem;
}

.productflexwrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

#wirelesscontainer,
#powerfullcontainer,
#robotcontainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
}

//   // PRODUKTER

.productcontainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	gap: 10px;
	width: 100%;
	//border: 3px solid purple;
}

.imgcontainer {
	display: flex;
	justify-content: center;
	border-radius: 10px;
	//border: 3px solid rgb(136, 231, 203);
	width: 100%;

	> img {
		height: 15rem;
		// border: 1px solid purple;
	}
}

.vacuumheader {
	font-size: 1rem;
	padding: 10px;
	color: #2595be;
	display: flex;
	align-items: flex-start;
	//border: 1px solid red;
	font-size: 0.8rem;
	height: 2.5rem;
	width: 100%;
}
.vacuuminfo {
	display: flex;
	padding: 5px;
	height: 50px;
	width: 100%;
	align-items: flex-start;
	height: 3rem;

	font-size: 0.9rem;
	//border: 1px solid green;
}

.price {
	color: #2595be;
	//border: 1px solid blue;
	width: 100%;
}

.productbtns {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	gap: 2px;
	height: 3rem;

	> button {
		padding: 8px;
		//width: 100%;
		border-radius: 2px;
		cursor: pointer;
		font-size: 0.8rem;
	}

	> button:nth-child(2) {
		background-color: #2596be;
		border: none;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	> button:nth-child(1) {
		background-color: #2595be86;
		border: none;
		width: 100%;
	}

	.fa-info-circle,
	.fa-cart-plus {
		font-size: 0.8rem;
		margin-left: 10px;
	}

	> button:hover {
		box-shadow: 2px 2px 2px #2595be86;
		// border: 1px solid rgba(0, 0, 0, 0.418);
	}
}

/* The Modal (background) */

@media screen and (min-width: 768px) {
	.productcontainer {
		width: 33% !important;
	}
}
