#thankyoubody {
  background-image: url("https://cdn.discordapp.com/attachments/915169414175936523/920660235130142740/IMG_0735.png");
  background-size: cover;
  background-repeat: repeat;
  @include tablets {
    background-image: url("https://cdn.discordapp.com/attachments/915169414175936523/920659489290592306/IMG_0735.png");
  }
}
#thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;

  .thankyouContainer {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      position: relative;
      color: #97ff7794;
      height: 40px;
      i {
        z-index: 0;
        position: absolute;
        bottom: 16px;
        left: -30px;
      }
    }
    h2 {
      color: white;
    }
    div {
      width: 80%;
      color: white;
      text-align: center;

      @include tablets {
        width: 500px;
      }
    }
  }

  .ordernumber {
    color: white;
  }

  #order {
    background-color: white;
    @include flexcolcen;
    width: 90%;

    @include tablets {
      width: 600px;
    }

    .productContainer {
      margin: 0;
    }

    margin-bottom: 20px;
  }
  .totalSpan {
    font-weight: bold;
  }
}
#check {
  color: #97ff7794;
  font-size: 2rem;
}
