.adjustments {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  align-self: center;

  .fa-trash,
  .fa-plus-square,
  .fa-minus-square {
    font-size: 1.5rem;
    color: #2595be;
    margin: 15px;
    margin-top: 3px;
    order: 1;

    .fa-trash:hover {
      cursor: pointer;
    }
  }
}
