.adjustments {
  width: 100%;
  display: flex;
<<<<<<< HEAD
  justify-content: flex-end;
  padding: 5px;

  .fa-trash {
    font-size: 1rem;
    color: #2595be;
    margin-left: 5px;
    margin-top: 3px;
=======
  justify-content: center;
  align-items: center;
  padding: 5px;
  align-self: center;

  .fa-trash,
  .fa-plus-square,
  .fa-minus-square {
    font-size: 1.5rem;
    color: #2595be;
    margin: 15px;
    margin-top: 3px;
    order: 1;
>>>>>>> feature-branch/+-product2

    .fa-trash:hover {
      cursor: pointer;
    }
  }
}
