html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import "./mixins";
@import "./font";
@import "./landingpage";
@import "./products";
@import "./productpages";
@import "./footer";
@import "./navbar";
@import "./cart";
@import "./checkout";
